<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Fisher - Início</title>
    <!-- O CSS só vai funcionar depois que o Aluno C fizer a parte dele! -->
</head>
<body>
    <header>
        <h1>Projeto Fisher 🐟</h1>
        <nav>
            <a href="/cadastro">Nova Biometria</a>
            <a href="/listagem">Relatório de Tanques</a>
        </nav>
    </header>
    
    <main>
        <h2>Bem-vindo ao Sistema Fisher</h2>
        <p>Use o menu acima para navegar pelo sistema.</p>
    </main>
</body>
</html>