{% extends "base.html" %}

{% block conteudo %}

<h2>Tanques cadastrados</h2>

<a href="/tanques/cadastrar">
    + Cadastrar novo tanque
</a>

<br><br>

{% if tanques %}

<table>

    <thead>

        <tr>
            <th>ID</th>
            <th>Tanque</th>
            <th>Espécie</th>
            <th>Quantidade de peixes</th>
        </tr>

    </thead>

    <tbody>

        {% for tanque in tanques %}

        <tr>

            <td>{{ tanque.id }}</td>

            <td>{{ tanque.nome }}</td>

            <td>{{ tanque.especie }}</td>

            <td>{{ tanque.quantidade }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% else %}

<p>
    Nenhum tanque cadastrado.
</p>

{% endif %}

{% endblock %}